body{
  background-color:lightblue;
  font-family:helvetica;
}

/* header {
  position: fixed;
  width: 100%;
  background-color: hsl(45, 50%, 90%);
  display: grid;
  grid-template-columns: 300px 1fr;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 5px;
} */


#header:after {
  clear: both;
  content: '';
  display: table;
}

#header-img {
  width: 130px;
  height: 130px;
  float: left;
  padding-top: 1.7em;
}

nav ul{
  float: right;
  margin-right: 2em;
}




.top-nav {
position:fixed;
width:100%;
top: 0;
}

#nav-bar{
  overflow:hidden;
  position:flexed;
  background-color:#1a1a1a;
  width:100%;
  top:40px;
}


 .nav-link{
  text-decoration:none;
  text-align:center;
  font-size:18px;
  padding:14px 10px;
  transition: background .5s ease;
} 

.nav-link
{
  text-decoration: none;
}


h2
{
  text-align: center;
  color: fuchsia;
  margin-top: 20px;
  font-family: Arial;
  font-size: 20px;
}

p {
  font-family: Monospace;
  font-size: 20px;
  margin-left: 20px;
}


#video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  display: flex;
}

#email
{
  display: block;
  width: 300px;
  height: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 10px;
}


footer {
  background-color: black;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  padding-bottom: 0px;
}

#footer-nav {
  display: flex;
  grid-gap: 10px;
}

footer p {
  font-size: 85%;
  color: gray;
  margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#submit{
  display:block;
  margin:left;
  padding:9px;
  border:none;
  border-radius:50px;
  width:100px;
  background-color:#000fb5;
  margin-top:15px;
  color:white;
  font-size:15px;
}

